language: python
sudo: false
cache:
  directories:
    - $HOME/.cache/pip

python:
 - "2.7"
 - "3.5"
 - "3.6"
 - "3.7"
 - "3.8-dev"
 - "pypy"  # 2.7
 - "pypy3"  # 3.6

install:
- pip install .

script: "python run_tests.py"

services:
  - redis-server
