language: python
sudo: false
cache:
  directories:
    - $HOME/.cache/pip

python:
 - "2.7"
 - "3.4"
 - "3.5"
 - "3.6"
 - "pypy"
 - "pypy3"

env:
 - REDIS="redis==2.9.1"
 - REDIS="redis==2.10.6"

install:
- "pip install ."
- "pip install $REDIS"

script: "python run_tests.py"

services:
  - redis-server
